.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  background: #000;
}
.NavigationItem {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.NavigationItem a {
  color: white;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;

  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  background-color: #8f5c2c;
  border-bottom: 4px solid #40a4c8;
  color: white;
}